# Hand-maintained for now; matches the roxygen tags in R/.
# Regenerate with roxygen2::roxygenise() once man/ generation is set up.

export(fs_bayes)
export(fs_boruta)
export(fs_chi)
export(fs_correlation)
export(fs_elastic)
export(fs_infogain)
export(fs_lasso)
export(fs_mars)
export(fs_pca)
export(fs_randomforest)
export(fs_recursivefeature)
export(fs_stepwise)
export(fs_supervised)
export(fs_svd)
export(fs_svm)
export(fs_unsupervised)

importFrom(data.table, ":=")
importFrom(data.table, ".N")
importFrom(data.table, ".SD")
importFrom(data.table, ".I")
importFrom(data.table, as.data.table)
importFrom(data.table, copy)
importFrom(data.table, data.table)
importFrom(data.table, is.data.table)
importFrom(data.table, rbindlist)
importFrom(data.table, set)
importFrom(data.table, setDF)
importFrom(data.table, setDT)
importFrom(data.table, setnames)
